{% load static %}
<html>
    <head>
        <title>THISWEB</title>
    </head>
    <body>
    <center>
	    <div id = "title">
	        <h1>DaRk_weB Bukowski</h1>
	    </div>
       <h2 class="mt-5">WEBSITE FOR YOUR CREATIVE VOMIT</h2>
       <div class = "menu">
            <a href = "{% url 'home:feed' %}"> Feed</a> |
            <a href = "{% url 'home:new' %}">New</a> |
            <a href = "{% url 'home:starred' %}"> Starred</a>
        </div>
    </body>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</html>
