@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
body {
    color: black ;
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(255, 255, 255, .50);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25, 25, 25);
}

h1{
    line-height: 100px ;
    color :purple ;
}

.menu{
    align-content: center ;
}

footer p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color:white;
    line-height: 28px;
}
.footer-content {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020; 
}

.footer-content-menu ul {
  text-align: right;
  margin: 0; 
}

.footer-content-menu li {
  display: inline-block;
  padding-left: 20px;
 }

a{
    color: grey ;
    text-decoration: none ;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; 
}

a:hover{
    color: purple ;
    text-decoration: underline;
}