@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
body {
    color: black ;
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(255, 255, 255, .50);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25, 25, 25);
}

h1{
    line-height: 100px ;
    color :purple ;
}

header {
	/* add stuff */
}

.menu{
    align-content: center ;
}