{% extends 'base.html' %}
{% load static %}


{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/style.css' %}">
{% endblock %}


{% block content %}



<div class = "container">
    <form action = "{% url 'user:login' %}" method = "POST">
    	<div class="form">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <input type="submit" value="Submit">
        {{ error }}
    </form>
    <div class = "signin_prompt">
		<a href = "{% url 'user:signin' %}"> Sign Up</a>
	</div>
</div>



{% endblock %}
