{% extends 'base.html' %}
{% load static %}
{% block content %}



<link rel="stylesheet" type="text/css" href="{% static 'user/css/style.css' %}">
<div class = "container">
	<form method = "POST" action="{% url 'user:new_post' %}">
        {% csrf_token %}
		<div class = "post">
			<textarea id = "post_title" name = "post_title" rows = "1"> </textarea><br>
			<textarea id="post_content" name="post_content" rows="20" cols="50">
			</textarea>
		    <button class="btn btn-outline-light" type="submit" value="Submit">Submit</button>
		</div>
	</form>
</div>
{% endblock %}
