{% extends 'base.html' %}
{% load static %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'user/css/profile.css' %}">
{% endblock %}

{% block content %}

<div class = "container">
	<h1 class = "profile_name">
		{{ profile.username }}
	</h1>
</div>
<div class="container mx-5 my-2">
	<div id = "bio">
		{{ profile.bio }}
	</div>
</div>
<div class="container">
	<button class="btn btn-outline-light" style="display: block;" onclick="update()">Update</button>
</div>
<div class="container">
	<div class = "posts m-5">
		<a class="btn btn-outline-light mb-5" href ="{% url 'user:new_post' %}">Add new work</a>
	    {% for post , validations in post_validations.items %}
		    <div class="mb-5">
	            <div class="border border-white p-5">
	                <div class = "post_title h3">
	                    {{ post.title }} 
	                </div>
	                <div class = "post_text">
	                        {{ post }}
	                </div>
	                <div class = "post_autho">
	                    Author : {{ post.User }}
	                </div>
	            <div id = 'validate_counter' post_id = "{{ post.id }}">
	                 number of validations :
	                 <div class="validate" id = "v_count{{ post.id }}" > {{ validations }} </div>
	                 <a href="{% url 'home:commentview' post.id %}" class="critic-link">critics</a>
	            </div>
	        </div>
	    </div>
		{% endfor %}
	</div>
</div>
<a class = "fixed-bottom" style = "margin : 100;"href="{%url 'user:logout' %}"> logout </a>
{% endblock %}
{% block javascript %}
<script>
function update(){
	 document.getElementById("bio").innerHTML =  `
	 	<form action = {% url 'user:profile' %} method = 'POST'>
 			{% csrf_token %}
            <label for="new_bio">Write : </label><br>
			<textarea id="new_bio" name="new_bio" rows="4" cols="50">
			{{ profile.bio }}
			</textarea>
			    <button class="btn btn-outline-light" type="submit" value="Submit">Submit</button>
		</form>
		` ;
}
</script>
{% endblock %}
