.purple-border textarea {
    border: 1px solid #ba68c8;
}

.purple-border .form-control:focus {
    border: 1px solid #ba68c8;
    box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}
hr{
  border-top: 1px dashed white;
}	
.comment_text{
	font-size: 14px; 
}
.comment_title{
	color: purple ;
	font-size: 18px ;
}