{% extends 'base.html' %}
{% load static %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'index/css/home.css' %}">

{% endblock %}

{% block content %}
<div class = "container">
    {% for post in posts %}
        <div class = "posts">
            <div class = "post_title h3">
                {{ post.title }} 
            </div>
            <div class = "post_text">
                    {{ post }}
            </div>
            <div class = "post_autho">
                Author : {{ post.User }}
            </div>
        <button id = 'validate' post_id = "{{ post.id }}" class = "btn" ></button>
        <div id = 'validate_counter' post_id = "{{ post.id }}">
            number of validations : 
        </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
$('#validate').click(function(){
  $.ajax({
           type: "POST",
           url: "{% url 'home:updatevalidate' %}",
           data : {'post_id' : $(this).attr('post_id') ,  } ,
           dataType: "json",
           success: function(response) {
                let color = 'white' ;
                $(this).css('' , color ) ;
                if(response.liked){
                    color = 'white' ;
                }
            },
            error: function(rs, e) {
               alert("bruv");
            }
      }); 
})
</script>
{% endblock %}
