.btn {
  height: 25px;
  width: 25px;
  background-color: #6600cc;
  border-radius: 50%;
  display: inline-block;
}

.menu{
    align-content: center ;
}

.posts{
	margin: 100px ;
	padding: 10px : ;
}