{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- css imports imports -->
    {% block imports %}
    {% endblock %}
</head>
<body>
	<header class = "text-center">
        <div class = "title-text h1 font-italic">DaRk_weB Bukowski</div>
        <div class = "float-right">
            <a href = "{% url 'user:account' %}">
                <img src = "{% static 'img/user.png' %}" >
            </a>
        </div>
       <div class = "menu">
            <a href = "{% url 'home:feed' %}"> Feed</a> |
            <a href="{% url 'home:top_literature' %}"> top literature</a> |
            <a href = "{% url 'home:get_new' %}"> New </a>
        </div>
    </header>
        {% block content %}
        {% endblock %}
        <footer>
            <div class="footer-content">
                <div class="container d-block">
                    <div class="row">
                        <div class="col-md-6"> <span>Made by : Prasanth Chettri</span></div>
                        <div class="col-md-6">
                            <div class="footer-content-menu">
                                <ul>
                                    <li> <a href="https://github.com/PrasanthChettri">Github</a> </li>
                                    <li> <a href="https://www.linkedin.com/in/prasanth-chettri-2bb784191/">Linked In</a> </li>
                                    <li> <a href=https://www.instagram.com/trashcanpacific/">Instagram</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</body>
<!-- javascript : only the js that is most needed infile to render with jinja and js imports  -->
{% block javascript %}
{% endblock %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
