{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
	<header>
        <div id = "title">
            <h1>DaRk_weB Bukowski</h1>
        </div>
        <div class = "float-right">
            <a href = "{% url 'user:account' %}">
                <img src = "{% static 'img/user.png' %}" >
            </a>
        </div>
       <h2 class="mt-5">WEBSITE FOR YOUR CREATIVE VOMIT</h2>
       <div class = "menu">
            <a href = "{% url 'home:feed' %}"> Feed</a> |
            <a href = "{% url 'home:new' %}">New</a> |
            <a href = "{% url 'home:starred' %}"> Starred</a>
        </div>
        {% block content %}
        {% endblock %}
        {% block form %}
        {% endblock %}
    </header>
</body>
</html>
